/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; display: inline; zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; background-image: url('http://occupythesec.org/img/paperbg.png');   }
body, html {
    height:100%;
    
}



a {text-decoration:none; font-weight:bold; color:rgb(0,68,106);}
a:hover {text-decoration:none; color: rgb(150,150,150);}
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }


table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	
	
}


header 
{



z-index:1000;
position:relative;
height:0px;
width:100%;
background-image: linear-gradient(top, rgb(211,222,229) 30%, rgb(229,235,239) 53%, rgb(255,255,255) 96%);
background-image: -o-linear-gradient(top, rgb(211,222,229) 30%, rgb(229,235,239) 53%, rgb(255,255,255) 96%);
background-image: -moz-linear-gradient(top, rgb(211,222,229) 30%, rgb(229,235,239) 53%, rgb(255,255,255) 96%);
background-image: -webkit-linear-gradient(top, rgb(211,222,229) 30%, rgb(229,235,239) 53%, rgb(255,255,255) 96%);
background-image: -ms-linear-gradient(top, rgb(211,222,229) 30%, rgb(229,235,239) 53%, rgb(255,255,255) 96%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.3, rgb(211,222,229)),
	color-stop(0.53, rgb(229,235,239)),
	color-stop(0.96, rgb(255,255,255))
);

}



header img {
	margin-left: 0px;
	vertical-align: 0px;
	
}


header h1 {
	font-family: Impact, sans-serif;	
	display: inline;
	font-size: 2.1em;
	letter-spacing: 0px;
	text-align:center;	
}

#Occupylogo { color: rgb(30,30,30);margin-left:0px;}
		


		
#SEClogo {

	color: rgb(30,30,30);
	padding-left:10px;
}

#thelogo { color: rgb(30,30,30); padding:0px;}
#SEClogo { 
	font-size: 1.3em; 
	vertical-align: -5px; 
	padding-left: 5px; 	
}
#OSEClogo {padding: 0px 20px 0px 0px; float:left;}

.title { 
	display: inline; 
	border-bottom: 4px solid rgb(255,224,79);
	margin-right: -12px; 
	padding:0px;
	font-family: Arial, Helvetica, sans-serif;
}

nav {

	height:50px;
	font-size: 12pt;
	padding-top:0px;
	background-color: rgb(64,64,64);
	text-align:left;
	
	
	

z-index:20; 
width:100%; 

background: -moz-linear-gradient(top,  rgba(62,62,62,1) 0%, rgba(33,33,33,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,62,62,1)), color-stop(100%,rgba(33,33,33,1)));
background: -webkit-linear-gradient(top,  rgba(62,62,62,1) 0%,rgba(33,33,33,1) 100%);
background: -o-linear-gradient(top,  rgba(62,62,62,1) 0%,rgba(33,33,33,1) 100%);
background: -ms-linear-gradient(top,  rgba(62,62,62,1) 0%,rgba(33,33,33,1) 100%);
background: linear-gradient(to bottom,  rgba(62,62,62,1) 0%,rgba(33,33,33,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#212121',GradientType=0 );


  
	
	
	border-top: 0px solid rgb(180,180,180);
	border-bottom: 1px solid rgb(180,180,180);
	
	color:white;
	
	
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
     -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
          box-shadow: 0px 1px 1px rgba(0,0,0,0.2);

}
nav ul li {
	display: inline;
	
	text-transform:uppercase;

	
	
	

}



#navleft {display: inline; float:left; text-align:center; height:50px; padding: 0px 0px 0px 0%; margin-top:0px; border-right:1px solid #000; }
#navright {text-align:right; float:right; padding: 1px 12px 0px 5%; 
-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
     -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
          box-shadow: 0px 2px 2px rgba(0,0,0,0.2);

margin-right:10%; padding-left:10px; height:auto; 

 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF555), color-stop(100%, #FFE04F));
 background-image: -webkit-linear-gradient(top, #FFF555, #FFE04F);
 background-image: -moz-linear-gradient(top, #FFF555, #FFE04F);
 background-image: -ms-linear-gradient(top, #FFF555, #FFE04F);
 background-image: -o-linear-gradient(top, #FFF555, #FFE04F);
 background-image: linear-gradient(top, #FFF555, #FFE04F);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFF555, endColorstr=#FFE04F);

border:none;

 }
 
#navleft li {
height:50px;
width:auto;
padding:0px 15px;
border-right:1px solid #363636;
border-left:1px solid #212121;
float:left;
color: #ccc;
position:relative;
z-index:auto;
}

.leftnav {margin-right:-12px; padding-top:3px;}
#leftsocial {margin-left:10px;}

#navleft li:hover {
text-decoration:none;
  background-color:rgba(73, 73, 73, 0.8);
  
-moz-box-shadow: inset 0px 9px 8px -10px #000, inset 0px -9px 8px -10px #000;
-webkit-box-shadow: inset 0px 9px 8px -10px #000, inset 0px -9px 8px -10px #000;
box-shadow: inset 0px 9px 8px -10px #000, inset 0px -9px 8px -10px #000;
}



#navright li a {font-weight:bold; color: rgb(0,0,0);}
#navright li a hover {font-weight: bold; color: rgb(120,120,120);}


.button_yellow{
 border:1px solid #FFE04F; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; font-weight:bold; text-align: center; color: #000; background-color: #ffd65e;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF555), color-stop(100%, #FFE04F));
 background-image: -webkit-linear-gradient(top, #FFF555, #FFE04F);
 background-image: -moz-linear-gradient(top, #FFF555, #FFE04F);
 background-image: -ms-linear-gradient(top, #FFF555, #FFE04F);
 background-image: -o-linear-gradient(top, #FFF555, #FFE04F);
 background-image: linear-gradient(top, #FFF555, #FFE04F);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFF555, endColorstr=#FFE04F);
}
	

nav a {font-weight:500; color: rgb(220,220,220);}
nav a:hover {font-weight:500; color: rgb(260,260,260);}

.navlogo {font-family: Impact, Charcoal, sans-serif; font-size:1em; }
.lefta {font-family: Helvetica, Arial, sans-serif;}

section {
	margin-top: 30px;
	text-align:center;	


}

.blackyellow {
line-height:18px;
font-size:18px;
text-transform:uppercase;
color: white;
display:inline-block;
background: #191919;
padding: 8px 16px;

-webkit-box-shadow: #FFF555 6px 6px 0px;
box-shadow: #FFF555 6px 6px 0px;
}


iframe{ background:transparent; }

#social {
	position: relative;
	display:inline;
	right: 0%;
	top:0%;
	height:50px;
	float:left;
}

#socialimg { margin: 0px;}
#socialimg a {
	text-decoration: none;
	height:50px;
}

h12 {font-family: Helvetica, Arial, san-serif; font-weight:bold; font-size:1.2em;}
.red {color:rgb(207,24,23) ; font-weight:bold; border: 0px solid rgb(207,24,23); /* padding:2px 5px 2px 5px;*/ padding:0px 5px 0px 0px; margin-right:8px; /* vertical-align:5px; border-radius: 2px;*/}




/*============= ANNOUNCEMENT=========*/

#unsupportedBrowser.hide
{ 
    display:none; 
}

#unsupportedBrowser 
{   
  margin-top:0 0 20px 0;
  display:block;
  text-align:left;
  width: 100%;
  font-size:1em;
  padding:10px;
  background-image: url('http://occupythesec.org/img/bgb.png');
 
  

  color:black;
  border:1px solid rgb(200,200,200);

  position:relative;
	
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
     -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
          box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

#unsupportedBrowser a { text-decoration:none; font-weight:bold; color:rgb(0,68,106); }

#unsupportedBrowser #dismiss {
  background-color: rgb(242,242,242);
  width: 25px;
  height:25px;
  color:red;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;

  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
     -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
          box-shadow: 1px 1px 2px rgba(0,0,0,0.2);

  position:absolute; 
  right: 3%;
  top: %;
  margin-left: 100px;
  font-size:1.2em;
} 

#warningText {  margin:0% 2% 3% 3%; }
/*============= END ANNOUNCEMENT=========*/


#list {
	width: 300px;
	margin: 20px 20px;
	border: 0px solid black;
	padding: 10px;
	
  -webkit-border-radius: 11px;
     -moz-border-radius: 11px;
          border-radius: 11px;

 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}

#listcontainer {
    width:84%;
    position:relative;
    float:left;
    left:30%;
    margin:0px;
    
    }
#container {
    width:100%;
    position:relative;
    padding-top:70px;
    /* fixed header
    padding-top:200px;
    */
    clear:both;
}
#blurb{
	padding-top: 1%;
	width: 84%;
	margin: 0px auto;
}
#mleft{
	padding: 20px 0px 40px 0px;
	width: 50%;
	margin: 0% 0% 0% 8%;
	float: left;
}
#projects{
	padding: 20px 0px 40px 0px;
	width: 84%;
	margin: 0% 0% 0% 8%;
	float: left;
}

#mright{
	padding-top: 20px ;
	width: 40%;
	margin: 0%;
	float:right;
	}

#media{

	padding: 23px 0px 40px 0px;
	width: 84%;
	margin: 0px auto;
}

#contact{
	padding: 20px 0px 40px 0px;
	width: 84%;
	margin: 0px auto;
}

#footer{
	z-index:1000;
	position:relative;
	clear:both;
    bottom:0px;
    left:0px;
	padding-top: 0px;
	
	
	
	width: 100%;
	height:20%;
	margin: 0px auto;
	
	
	}

.centerfooter {margin:0% auto 3% auto; width:auto; display:block; text-align:center; clear:both; }	
#footer1 {float:left; margin-left:8%; padding-right:1%; margin-right:3%;  width:auto; text-align:left; margin-bottom:2%; margin-top:1%; padding-bottom:1%; border-right: 0px solid #ccc; }
#footer2 {float:left; margin-left:0%; padding-right:1%; margin-right:3%; width:auto; text-align:left; margin-bottom:2%; margin-top:1%; padding-bottom:1%; border-right: 0px solid #ccc; }
#footer3 {float:left; margin-left:0%; padding-right:1%; margin-right:3%; width:auto; text-align:left; margin-bottom:2%; margin-top:1%; padding-bottom:1%;}
#footer4 {float:left; margin-left:0%; padding-right:1%; margin-right:3%; width:auto; text-align:left; margin-bottom:2%; margin-top:1%; padding-bottom:1%;}
#footer5 {float:left; margin-left:0%; padding-right:1%; margin-right:3%; width:auto; text-align:left; margin-bottom:2%; margin-top:1%; padding-bottom:1%;}


#footer1 a, #footer2 a, #footer3 a, #footer4 a, #footer5 a {font-weight:normal; font-size:.8em;}
.footerheader {text-align:left; color:rgb(30,30,30); font-size:.8em; padding-bottom:3px;}
.footerheader1 {text-align:left; color:rgb(80,80,80); font-size:.8em;}

.scrbd {
			text-align:center; 
			width: 500px; 
			margin: 0px auto;
}

#occupysec
{
	width: 85%;
	margin: 5px auto;
	padding: 10px;
	border-top-right-radius: 2px 8px;
	border-bottom-left-radius: 2px 8px;
	background-color: beige;	
	
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;

}

	footer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color:rgb(80,80,80);
	font-weight:normal;
	
	
}

#blogo {
	height:100px;
	width:360px;
	clear:both;
	display:block;
    margin-left:auto;
    margin-right:auto;
    padding-left:3%;
}
.bloglist li {list-style:none; list-style-type:none;}


@media print {

header {display:none;}
#mleft {width:84%;}
#mright {clear:both; width:84%; float:left; margin-left:0%;}
a {text-decoration:none; font-weight:normal; color:black;}
.red {color:black; border:none;}
.blackyellow {
line-height:18px;
font-size:18px;
text-transform:uppercase;
color: black;
display:inline-block;
background: none;
padding: 8px 16px 16px 0px;
border:none;
-webkit-box-shadow: #FFF555 0px 0px 0px;
box-shadow: #FFF555 0px 0px 0px;
}

#unsupportedBrowser {background-image:none; border:none;}
nav, #navleft, #navright, #social, #listcontainer, #list, footer, #footer, .button_yellow {display:none;}


}
